<!--https://getbootstrap.com/docs/5.3/forms/overview/#overview-->
<app-header></app-header>

<div class="loginform">
    
    <form class="form">
        <div class="title">
            <h1>Sign up</h1>
        </div>
        <div class="details">
            
            <div class="mb-3">
                <label class="form-label">Full Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input type="password" class="form-control">
            </div>
            <div id="emailHelp" class="form-text">We'll never share your details with anyone else.</div>
            
            <br>
            <div class="signup">
                <button type="submit" class="btn btn-success">sign up</button>
            </div>
            <br><br>
        </div>
    </form>
</div>