.calculator{
    background-image: url("/assets/car4.png");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: hard-light;
    
    width: 100%; 
    padding: 20px;
    max-width: 100%;
    height: auto;
    color: white;
}

.title{
    margin-top: 100px;
    font-size: 40px;
    text-align: center;
}

/* if not in data box alignments will change */
.box{
    display: flex;
    flex-wrap: wrap;
}

.calbox{
    background-color: rgba(0, 0, 0, 0.7); /* Set the background color of the box (here, using red) */
    border: 2px none #000; /* Add a border to the box (here, using black) */
    border-radius: 30px; /* Add rounded corners to the box */
    padding: 20px;
    margin-top: 30px; /* Add some margin around the box to separate it from other elements */  
    margin-left: 250px; 
    height: auto;   
    width: auto;
    
}

/* for expanding the input boxes */
.form-control{
  width: 250px;
}

.element-with-space {
    margin-left: 70%; /* Add left margin to create space */
    margin-top: -38px;
  }

.data {
    width: 100%; /* Set the width to take up 90% of the available space */
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px none #000;
    border-radius: 30px;
    padding: 35px;
    text-align: center;
    margin: -305px 200px 1px 650px; /* top right bottom left Center the box horizontally */
  }

  /* adjusting to small screen */
  @media screen and (max-width: 768px) {
    .box {
      flex-direction: column; /* Stack the boxes vertically on smaller screens */
    }
  
    .calbox, .data {
      max-width: 100%; /* Allow the boxes to take full width on smaller screens */
      margin: 10px auto; /* Center the boxes horizontally on smaller screens */
    }
  }