<app-header></app-header>
<div class="body-styles">
    <div class="color-changing-text">
        <h1>Looking for your dream Car</h1>
    </div>
    <!-- in css i have implemted the styles but easy way is using marquee tag
    <div class="scrolling-text">
        <h2 class="two">We will full fill your dreams..!</h2>        
    </div>
    -->
    <div>
        <marquee class="quee_text" direction="left" behavior="scroll" scrollAmount="10">
            <h2>We will full fill your dreams..!</h2>
        </marquee>
    </div>
    <br><br>
    <div class="box1">
        <p>
            <strong> ** Low Interest Vehicle Loans **</strong>
            <br>
            <b style="color: red; font-size: 20px;">
                <i>
                    <q>
                        Welcome to <strong>MJ</strong> Vehicle loan app, where we offer the best deals on Vehicle loans
                        with
                        the lowest
                        interest rates!
                        At <strong>MJ</strong>, our mission is to help you fulfill your dreams of owning a Vehicle
                        without burdening
                        you with
                        high-interest rates. We understand that purchasing a Vehicle is a significant decision, and we
                        are
                        here to
                        support
                        you every step of the way.
                    </q>
                </i>
            </b>
        </p>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>